{% extends 'home/index.html' %}
{% block content %}
<main>
    <div class="contenedor__carrito">
        <!--<div>
            <div>No hay nada</div>
            {% for item in carrito %}
                <li>Producto ID: {{ item.pk }}</li>
            {% endfor %}
        </div>-->
        <div class="carrito__productos">
            {% if total == 0 %}
            <div class="prodctos__productos">
                <div class="productos__titulos">

                </div>
                <div class="productos-informacion" style="height: 80px">
                    <div class="informacion__info">
                        <div class="info__title-carrito" style="padding-left: 20px; font-weight: 500">
                            Ningun producto en el carrito
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for item in carrito %}
            <div class="prodctos__productos">
                <div class="productos__titulos">
                    {{item.proveedor.nombre}}
                </div>
                <div class="productos-informacion">
                    <div class="informacion__img">
                        <img src="https://res.cloudinary.com/dnbwjuwvx/image/upload/v1713926110/{{item.img}}">
                    </div>
                    <div class="informacion__info">
                        <div class="info__title-carrito">
                            {{item.nombre|slice:":35"}} ...
                        </div>
                        <a href="/eliminar_carrito/{{item.pk}}" class="info__eliminar-carrito">
                            Eliminar
                        </a>
                    </div>
                    <div class="informacion__contador">
                        <a href="/eliminar_carrito/{{item.pk}}" class="contadormenos">-</a>
                        <h5 id="numeroContador">
                            {% for key, value in contador_ids.items %}
                                {% if key == item.pk %}
                                    {{ value }}<br>
                                {% endif %}
                            {% endfor %}
                        </h5>
                        <a href="/agregar_carrito/{{item.pk}}" class="contadormas">+</a>
                    </div>
                    <div class="informacion__precio">
                        $ {{ item.precio }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="carrito__precios">
            <div class="precios__titulo">
                <h2>Resumen de compra</h2>
            </div>
            <div class="precios__precio">
                <h4>Productos({{tamano_carrito}}) ${{total}}</h4>
                <h2>Total ${{total}}</h2>
                <button class="precios__submit">
                    Comprar
                </button>
            </div>

        </div>
    </div>
</main>
{% endblock %}