{% extends 'home/index.html' %}
{% block content %}
<main class="contenedor__home">
    <h1 class="contenedor__user__title">Moto Nexus - Tu Destino para Refacciones y Accesorios de Moto</h1>
    <div class="contenedor__user__info">
        En Moto Nexus, entendemos la pasión y el compromiso que tienes con tu motocicleta. Es por eso que nos dedicamos<br>
        a ofrecerte una amplia gama de refacciones y accesorios de alta calidad para satisfacer todas tus necesidades de<br>
        mantenimiento y personalización.<br>

        <span>Nuestra Especialización</span><br>

        Nos especializamos en ser tu destino único para todo lo relacionado con tu motocicleta. Desde filtros de aceite<br>
        hasta kits de frenos, y desde cascos de alta tecnología hasta elegantes cubiertas de asiento, tenemos todo lo<br>
        que necesitas para mantener tu moto en perfecto estado y destacar en la carretera.<br>

        <span>Experiencia de Compra Sin Problemas</span><br>

        En Moto Nexus, nos esforzamos por hacer que tu experiencia de compra sea lo más fácil y conveniente posible. Con<br>
        un sitio web intuitivo y fácil de navegar, opciones de pago seguras y envío rápido y confiable, puedes estar<br>
        seguro de que recibirás tus productos a tiempo y en perfecto estado.<br>

        <span>Únete a la Familia Moto Nexus</span><br>

        Ya sea que seas un entusiasta experimentado o un nuevo piloto, te invitamos a unirte a la familia Moto Nexus y<br>
        descubrir todo lo que tenemos para ofrecerte. Con precios competitivos, servicio excepcional y una pasión<br>
        compartida por las motocicletas, estamos seguros de que te convertirás en un cliente fiel de por vida.<br>

        Explora nuestro catálogo en línea hoy mismo y haz que tu próxima aventura en moto sea aún más emocionante con<br>
        Moto Nexus.<br>

        ¡Nos vemos en la carretera!<br>
    </div>
</main>
{% endblock %}