{% extends 'home/index.html' %}
{% block content %}
<main>
  <div class="contenedor__user">
      <div>Hola</div>
        <!--<div class="seccion__filtros">
            <div class="filtros__box">
                <h3 class="box__title">
                    Lo mas vendido
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">mostrar mas vendidos</a>
            </div>
            <div class="filtros__box">
                <h3 class="box__title">
                    Accesorios
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">Mostrar accesorios</a>
            </div>
            <div class="filtros__box">
                <h3 class="box__title">
                    Marcas
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">Mostrar marcas</a>
            </div>
            <div class="filtros__box">
                <h3 class="box__title">
                    Ultimos añadidos
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">Mostrar ultimos añadidos</a>
            </div>
            <div class="filtros__box">
                <h3 class="box__title">
                    Ofertas
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">Mostrar ofertas</a>
            </div>
            <div class="filtros__box">
                <h3 class="box__title">
                    Categorias
                </h3>
                <div class="box__icon">
                    <img src="" alt="">
                </div>
                <a href="" class="box__link">ver categorias</a>
            </div>
        </div>-->
      
  </div>
</main>
{% endblock %}